body {
font-size: 14px;
color: #333;
background-color: #fff
letter-spacing: 1px;
margin: 0px;
padding: 0px;
}
.titleMessage {
  position: top;
  width: 100%;
  height: 250px;
  z-index: 5;
  text-align: center;
}

.titleMessage .heading p {
  color: #1a4dd9;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;

}

.titleMessage .heading .sub {
  font-size: 23px;

}

.section {
  padding: 100px 0;

}

.portrait {
  display: inline-block;
}
.container {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.bio h4 {
  text-align: justify;
  color: red;
  float: left;
  width: 50%;
  padding: 5px;
  font-family: 'Crimson Text', serif;

}

.bio {
  display: inline-block;
}

.bio p {
  text-align: right;
  display:inline-block;
  width:100%;
  vertical-align:top;
  float: right;
  width: 50%;
  padding: 5px;
  font-family: 'Work Sans', sans-serif;
}

.sliding-background {
  background: url("/Users/jamessamuel/Documents/Portfolio Website/img/computer.jpg") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

.SkillsSection h2 {
  text-align: center;
  font-family: 'Crimson Text', serif;
}

.SkillsSection p {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.SkillsSection,
.contactSection {
  background-color: #e1b12c;
  color: white;
}

.skill p {
  text-align: center;
}

.skill {
  text-align: center;
}

.chart1 {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  margin-left: 25px;
  text-align: center;
  color: #000;
  line-height: 152px;
  font-size: 35px;
}

.chart2 {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  margin-left: 25px;
  text-align: center;
  color: #000;
  line-height: 152px;
  font-size: 35px;
}

.chart3 {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  margin-left: 25px;
  text-align: center;
  color: #000;
  line-height: 152px;
  font-size: 35px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.squareItem {
  margin-top: 30px;
  position: relative;
  display: inline-block;
}

.squareInnerContainer {
  position: relative;
  padding: 25px;
  text-align: center;
  border: 2px solid #444;
  border-top: 4px dotted blue;
  width: 300px;
}

.squareInnerContainer:before {
  right: 0px;
}

.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #e74c3c;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 40%;
  height: 40px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}

.contactSection {
  text-align: center;
}

.contactButton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #e74c3c;
  background-color: #fff;
}
