
.titleMessage {
  position: top;
  width: 100%;
  height: 250px;
  z-index: 5;
  text-align: center;
}

.titleMessage .heading p {
  color: #1a4dd9;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;

}

.titleMessage .heading .sub {
  font-size: 23px;

}

.section {
  padding: 100px 0;

}

.portrait {
  float: left;
  width:170px;
  height:170px;
  margin-right:15px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.section .bio h4 {
  text-align: justify;
  color: red;
}

.section .bio p {
  text-align: right;
  display:inline-block;
  width:100%;
  vertical-align:top;

}

.sliding-background {
  background: url("img/computer.jpg") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}
